.feed {
    flex: 0.5;
    margin: auto;
    margin-top: 30px;
    width: 40%;
    padding: 10px;
}

.feed-input-container {
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.feed-input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;

}

.feed-input > form {
    display: flex;
    width: 100%;
}

.feed-input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed-input > form > button{
    display: none;
}

.feed-input-options{
    display:flex;
    justify-content: space-evenly;
}

hr {
    margin-block-start: 16px;
    margin-block-end: 16px;
    
}

@media screen and (max-width: 750px) {
    .feed-input-options {
       
        font-size: 13px;
    }
  
}

.input-options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: rgb(44, 131, 165);
    padding: 8px;
}
  
.input-options:hover {
    background-color: white;
    border-radius: 10px;
}
  
.input-options > h4 {
    margin-left: 7px;
    margin-top: 16px;
    cursor: pointer;
}

.profile-picture {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.picture-name {
    clear: left;
    margin: auto;
    padding: 10px;
}

.profile-pic {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.name-surname {
    margin: auto;
    padding: 7px;
    font-weight: 500;
}

.post-text {
    padding: 15px;
    padding-top: 2px;
    margin: auto;
}

.like-button {
    box-shadow: none;
    margin-left: 3px;
}

.like-button:hover {
    color: rgb(45, 127, 160);
}

.line {
    width: 97%;
}

.post-info {
    font-size: 0.9em;
    color: gray;
    margin-right: 15px;
}

.comment {
    float: right;
}

.likes {
    float: left;
    margin-left: 15px;
}