<div class="feed"><!-- 
    <div class="feed-input-container">
        <div>
            <h2 style="font-size:24px; font-weight: 200; margin-top: 8px; margin-inline: 15px;">John Doe's Posts</h2>
        </div>
    </div> -->
    
    <h2 style="font-size:24px; font-weight: 200; margin-inline: 15px; margin-top: 12px;" *ngIf="!isProfileOwner">John Doe's Posts</h2>

    <div class="feed-input-container" *ngIf="isProfileOwner">
        <div class="feed-input">
          <form>
            <mat-icon aria-hidden="false">create</mat-icon>
            <input type="text" placeholder="Start a post" name="text" [(ngModel)]="newPost.text"/>
            
          </form>
        </div>
        <div className="feed-input-options">
            <div class="input-options">
                <mat-icon aria-hidden="false" style="cursor: pointer;">photo</mat-icon>
                <h4>Photo</h4>
            </div>
            <button mat-raised-button color="secondary" class="like-button" type="submit" style="float: right; margin-top: -25px;" (click)="createPost()">Submit</button> <br>
        </div>
        
    </div> <br>
    
    <div *ngFor="let post of posts">
        <div class="feed-input-container">
            <div class="picture-name">
                <p class="profile-pic">
                    <img src="../../../assets/images/profile-picture.png" class="profile-picture" />
                </p>
                <p class="name-surname">{{post.profile.name}} {{post.profile.lastName}}</p>
            </div> <br> <br>
            <p class="post-text">{{post.text}}</p> <br>
            <p class="post-info likes">{{post.numberOfReactions}} likes</p>
            <p class="post-info comment">{{post.numberOfComments}} comments</p>
            <hr color="#c5c5c5" size="1" class="line">
            <button mat-raised-button color="secondary" class="like-button">Like</button>
            <button mat-raised-button color="secondary" class="like-button" (click)="showComentInput()">Comment</button> <br><br>
            <div class="feed-input comments" *ngIf="canComment === true">
                <form>
                    <mat-icon aria-hidden="false">comment</mat-icon>
                    <input type="text" placeholder="Write a comment" class="input-comment"/>
                </form>
            </div>
        </div> <br>
    </div>
</div>
