.profiles-container {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 2px 2px 10px #e6e6e6;
}

.flex-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.flex-item-left, .flex-item-center, .flex-item-right {
    box-sizing: border-box;
    padding-block: 20px;
    padding-inline: 30px;
}

.flex-item-left {
    flex: 120px;
}

.flex-item-center {
    flex: 60%;
    font-weight: 300;
    padding-left: 0px;
}

.flex-item-right {
    flex: 20%;
}

.profile-picture {
    border-radius: 100%;
    width: 100%;
}

button {
    border-radius: 30px;
    padding-inline: 10%;
}