<div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
    <div style="width: 100%;">
        <div style=" margin-inline: 10%; text-align: center;">
            <h2 style="font-size:22px; font-weight: 300; margin-bottom: 5%;">Notification Settings</h2>
            <div class="rectangle"></div>
        </div>
        <br>
        <br>
        <div  style=" margin-inline: 3%;">

            <!-- <mat-slide-toggle [(ngModel)]="message">Enable Message Notificatons</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="post">Enable Post Notifications</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="connection">Enable Connection Notifications</mat-slide-toggle> -->

            <section class="example-section">
                <p><mat-checkbox [(ngModel)]="message">Enable Message Notificatons</mat-checkbox></p>
                <p><mat-checkbox [(ngModel)]="post">Enable Post Notifications</mat-checkbox></p>
                <p><mat-checkbox [(ngModel)]="connection">Enable Connection Notifications</mat-checkbox></p>
              </section>
            <br>
            <br>
            <div style=" margin-inline: 10%; text-align: center;">
                <button mat-raised-button color="primary" (click)="onSubmit()">Save Settings</button>
            </div>
        </div>
    </div>
</div>