<div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
    <div style="width: 100%;">
        <div style=" margin-inline: 20%; text-align: center;">
            <h2 style="font-size:22px; font-weight: 300; margin-bottom: 10%;">Connection token</h2>
            <div class="rectangle"></div>
        </div>
        <br>
            <div>
                <h2 style="font-size:16px; font-weight: 300; margin-bottom: 5%;">Enter the following token in your JobLab account to enable sharing posts on Dislinked:</h2>
                <br><div style="text-align: center;">
                <h2 style="font-size:20px; font-weight: 300; margin-bottom: 5%;">{{token}}</h2></div>
            </div>
    </div>
</div>