<div style="margin-inline: 20%; margin-top: 2%;">
    <div class="profiles-container">
        <h2 style="font-size:20px; font-weight: 200; padding-inline: 2%; padding-top: 2%;">3 Requests</h2>

        <div>
            <hr color="#c5c5c5" size="1" style="width: 97%;">
            <div class="flex-container">
                <div class="flex-item-left profile-picture">
                    <img src="../../../assets/images/profile.jpg" class="profile-picture" />
                </div>
                <div class="flex-item-center">
                    <p style="font-size: large; font-weight: 400;">Name Surname</p>
                    <p style="margin-block: 0.5%;">Job title</p>
                    <p style="margin-block: 0.5%;">Location</p>
                    <p style="margin-block: 0.5%;">17 shared connections</p>
                </div>
                <div class="flex-item-right">
                    <button mat-button style="margin: 2%;"> Ignore</button>
                    <button mat-stroked-button color="primary" style="margin: 2%;">Accept </button>
                </div>
            </div>
        </div>

        <div>
            <hr color="#c5c5c5" size="1" style="width: 97%;">
            <div class="flex-container">
                <div class="flex-item-left profile-picture">
                    <img src="../../../assets/images/profile.jpg" class="profile-picture" />
                </div>
                <div class="flex-item-center">
                    <p style="font-size: large; font-weight: 400;">Name Surname</p>
                    <p style="margin-block: 0.5%;">Job title</p>
                    <p style="margin-block: 0.5%;">Location</p>
                    <p style="margin-block: 0.5%;">17 shared connections</p>
                </div>
                <div class="flex-item-right">
                    <button mat-button style="margin: 2%;"> Ignore</button>
                    <button mat-stroked-button color="primary" style="margin: 2%;">Accept </button>
                </div>
            </div>
        </div>
        <div>
            <hr color="#c5c5c5" size="1" style="width: 97%;">
            <div class="flex-container">
                <div class="flex-item-left profile-picture">
                    <img src="../../../assets/images/profile.jpg" class="profile-picture" />
                </div>
                <div class="flex-item-center">
                    <p style="font-size: large; font-weight: 400;">Name Surname</p>
                    <p style="margin-block: 0.5%;">Job title</p>
                    <p style="margin-block: 0.5%;">Location</p>
                    <p style="margin-block: 0.5%;">17 shared connections</p>
                </div>
                <div class="flex-item-right">
                    <button mat-button style="margin: 2%;"> Ignore</button>
                    <button mat-stroked-button color="primary" style="margin: 2%;">Accept </button>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>