<mat-toolbar style="height: 7%; padding-inline: 15%; background-color: white; 
box-shadow: 2px 2px 10px #e6e6e6;" >
    <img style="width: 2.5%; border-radius: 10%;" src="../../../assets/images/dislinked-icon2.png">
    
    <span style="margin-left: 1%; margin-right: 5%; ">Dislinked</span>
    
    <button *ngIf="isAuthenticated" mat-button class="example-icon" aria-label="Example icon-button with menu icon"  [routerLink]="['/feed']">
        Home
    </button>
    <button *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="network">Network</button>
    <mat-menu #network="matMenu">
        <button mat-menu-item style="padding-inline: 12%;" [routerLink]="['/profiles']"> All Profiles</button>
        <button mat-menu-item style="padding-inline: 12%;" [routerLink]="['/connections']" > Connections</button>
        <button mat-menu-item style="padding-inline: 12%;" [routerLink]="['/requests']" > Requests</button>
        <button mat-menu-item style="padding-inline: 12%;"> Suggestions</button>
    </mat-menu>
    <button *ngIf="isAuthenticated" mat-button [routerLink]="['']">Jobs</button>
    <button *ngIf="isAuthenticated" mat-button [routerLink]="['']">Messaging</button>
    <button *ngIf="isAuthenticated" mat-button (click)="openProfile()">My profile</button>
    
    <button *ngIf="!isAuthenticated" mat-button  [routerLink]="['/profiles']" >Profiles</button>
    <span class="example-spacer"></span>
    <button *ngIf="isAuthenticated" mat-button (click)="signOut()">Sign Out</button>
    
    <button *ngIf="!isAuthenticated" mat-button [routerLink]="['/registration']" >Register</button>
    <button *ngIf="!isAuthenticated" mat-stroked-button  [routerLink]="['/login']"  color="primary">Sign In</button>

</mat-toolbar>