<mat-toolbar style="height: 7%; padding-inline: 15%; background-color: white;" >
    <img style="width: 2.5%; border-radius: 10%;" src="../../../assets/images/dislinked-icon2.png">
    
    <span style="margin-left: 1%; margin-right: 5%; ">Dislinked</span>
    
    <button *ngIf="isAuthenticated" mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        Home
    </button>
    <button *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="network">Network</button>
    <mat-menu #network="matMenu">
        <button mat-menu-item [routerLink]="['/profiles']">All Profiles</button>
        <button mat-menu-item [routerLink]="['']">Connections</button>
        <button mat-menu-item [routerLink]="['']">Requests</button>
        <button mat-menu-item>Suggestions</button>
    </mat-menu>
    <button *ngIf="isAuthenticated" mat-button>Jobs</button>
    <button *ngIf="isAuthenticated" mat-button>Messaging</button>
    <button *ngIf="isAuthenticated" mat-button>My profile</button>
    
    <button *ngIf="!isAuthenticated" mat-button>Profiles</button>
    <span class="example-spacer"></span>
    <button *ngIf="isAuthenticated" mat-button>Sign Out</button>
    
    <button *ngIf="!isAuthenticated" mat-button>Register</button>
    <button *ngIf="!isAuthenticated" mat-flat-button color="primary">Sign In</button>

</mat-toolbar>