<div style="margin-inline: 20%; margin-top: 2%; padding-bottom: 0%;">
    <div class="profiles-container" style="height: 89vh; margin-bottom: 0%;">
        <h2 style="font-size:20px; font-weight: 200; padding-left: 4%; padding-top: 2%;">Chat with {{name}} {{lastName}}</h2>

        <hr color="#c5c5c5" size="1" style="width: 100%;">
        <div style="padding: 1%;height: 65vh;
        overflow:auto;">
            <div *ngFor="let message of messagesFromChat; index as i" [class]="determineMessageClass(i)">
                <p>{{message.text}}</p>
            </div>
        </div>
        <div style="padding: 1%;">
            <p>
                <mat-form-field appearance="outline" style="width: 100%; height: 40px;">
                    <mat-label>New message</mat-label>
                    <input resize="none" matInput placeholder="..." [(ngModel)]="message.text">
                    <button mat-icon-button matSuffix (click)="SendMessage()" >
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </p>
        </div>
    </div>
</div>