<div style="margin-inline: 20%; margin-top: 2%;">
    <div class="profiles-container">
        <div class="parent">
            <img class="image1" src="../../../assets/images/profile-background2.jpg" />

            <img class="image2" src="../../../assets/images/aleksandar.jpg" />
            <!-- <img class="image2" src="../../../assets/images/profile.jpg"/> -->
        </div>
        <div class="flex-container">
            <div class="flex-item-left">
                <h1 style="margin-top: 5%; font-size: 30px; font-weight: 400;">
                    {{profile.name}} {{profile.lastName}}
                </h1>
                <p style="font-weight: 300;">
                    {{headline}}
                </p>
                <p style="font-weight: 300;">
                    Novi Sad
                </p>
                <p style="font-weight: 300;">
                    216 Connections
                </p>

            </div>
            <div class="flex-item-right">
                <button mat-icon-button color="primary" *ngIf="!isProfileOwner"
                    style="float: right; padding-right: 90px;">
                    <mat-icon style="font-size: 34px; ">notifications</mat-icon>
                </button>
                <h3 style="margin-top: 20%; font-size: 18px; font-weight: 400;">Contact Info</h3>
                <p>E-mail: <span style="font-weight: 300; margin-left: 5%;">{{profile.email}}</span></p>
                <p>Phone number:<span style="font-weight: 300; margin-left: 5%;">+381625563743</span></p>
            </div>
            <div style="width: 100%;">
                <div style="float: right; width: 250px;" *ngIf="!isProfileOwner">
                    <button mat-flat-button color="primary"
                        style="margin-inline:5%; margin-bottom: 10%; margin-top: 5%; padding-inline: 10%;">Connect
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Remove Connection</span>
                        </button>
                        <button mat-menu-item>
                            <span>Block</span>
                        </button>
                    </mat-menu>
                </div>
                <div style="float: right; width: 350px;" *ngIf="isProfileOwner">
                    <button mat-button [matMenuTriggerFor]="privacy">
                        Private
                    </button>
                    <mat-menu #privacy="matMenu">
                        <button mat-menu-item>
                            <span>Set Public</span>
                        </button>
                    </mat-menu>
                    <button mat-stroked-button color="primary"
                        style="margin-inline:5%; margin-bottom: 10%; margin-top: 5%; padding-inline: 10%;">Add Profile
                        Section
                    </button>
                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">About</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 28px; " (click)="openModalAddBiography()" >edit</mat-icon>
            </button>
        </div>
        <p style=" margin: 1%;font-weight: 300;">
            {{profile.biography}}
        </p>
    </div>

    <br>
    <div class="profiles-container flex-container" style=" width:100%; padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Activity</h2>
        <div style="width:70%">
            <button mat-stroked-button color="primary" [routerLink]="['/feed']"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">Show All Posts
            </button>
        </div>
        <hr color="#c5c5c5" size="1" class="line">
        <div class="flex-container" style=" width:100%;" *ngFor="let post of posts">
        
        <div class="feed-input-container" >
            <div class="picture-name">
                <p class="profile-pic">
                    <img src="../../../assets/images/profile-picture.png" class="profile-picture" />
                </p>
                <p class="name-surname">{{profile.name}} {{profile.lastName}}</p>
            </div> <br> <br>
            <p class="post-text">{{post.text}}</p> <br>
            <p class="post-info likes">13 likes</p>
            <p class="post-info comment">2 comments</p>
        </div>
    </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Experience</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; " (click)="openModalAddExperience()">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;" class="flex-container" *ngFor="let experience of profile.experience">
            <hr color="#c5c5c5" size="1" class="line">
            <div class="flex-item-left1">
                <h3 style="margin: 0%; margin-inline: 1%;  font-size: 18px; font-weight: 400;">{{experience.jobTitle}}</h3>
                <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">{{experience.companyName}}<span
                        style="margin-inline: 1%;"> &#183;</span> <span style=" font-weight: 300;">{{experience.description}}</span></p>
                <p style="font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">2018 - present</p>
            </div>
            <div class="flex-item-right1"  *ngIf="isProfileOwner">
                <button mat-icon-button color="primary"
                    style="float: right; margin-inline:25%; padding-inline: 5%; margin-top:1%">
                    <mat-icon style="font-size: 28px;" (click)="openModalUpdateExperince(experience)">edit</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Education</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; " (click)="openModalAddEducation()">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;" class="flex-container" *ngFor="let education of profile.education">
            <hr color="#c5c5c5" size="1" class="line">
            <div class="flex-item-left1">
                <h3 style="margin: 0%; margin-inline: 1%;  font-size: 18px; font-weight: 400;"> {{education.school}}</h3>
                <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">
                    {{education.fieldOfStudy}}, {{education.degree}} degree </p>
                <p style="font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">
                    2010 - 2015 </p>
            </div>
            <div class="flex-item-right1"  *ngIf="isProfileOwner">
                <button mat-icon-button color="primary"
                    style="float: right; margin-inline:25%; padding-inline: 5%; margin-top:1%">
                    <mat-icon style="font-size: 28px;" (click)="openModalUpdateEducation(education)">edit</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Skills</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 28px; " (click)="openModalAddSkills()">edit</mat-icon>
            </button>
        </div>
        <div style="width: 100%;" *ngFor="let skill of profile.skills">
            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">{{skill}}</p>
        </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Interests</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 28px; " (click)="openModalAddInterests()">edit</mat-icon>
            </button>
        </div>
        <div style="width: 100%;" *ngFor="let interest of profile.interests">
            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">{{interest}}</p>
        </div>
    </div>

    <br><br><br>
</div>