<div style="margin-inline: 20%; margin-top: 2%;">
    <div class="profiles-container">
        <div class="parent">
            <img class="image1" src="../../../assets/images/profile-background2.jpg" />

            <img class="image2" src="../../../assets/images/aleksandar.jpg" />
            <!-- <img class="image2" src="../../../assets/images/profile.jpg"/> -->
        </div>
        <div class="flex-container">
            <div class="flex-item-left">
                <h1 style="margin-top: 5%; font-size: 30px; font-weight: 400;">
                    John Doe
                </h1>
                <p style="font-weight: 300;">
                    Java Developer at SomeCompany, Belgrade
                </p>
                <p style="font-weight: 300;">
                    Novi Sad
                </p>
                <p style="font-weight: 300;">
                    216 Connections
                </p>

            </div>
            <div class="flex-item-right">
                <button mat-icon-button color="primary" *ngIf="!isProfileOwner"
                    style="float: right; padding-right: 90px;">
                    <mat-icon style="font-size: 34px; ">notifications</mat-icon>
                </button>
                <h3 style="margin-top: 20%; font-size: 18px; font-weight: 400;">Contact Info</h3>
                <p>E-mail: <span style="font-weight: 300; margin-left: 5%;">johndoe@gmail.com</span></p>
                <p>Phone number:<span style="font-weight: 300; margin-left: 5%;">+381625563743</span></p>
            </div>
            <div style="width: 100%;">
                <div style="float: right; width: 250px;"  *ngIf="!isProfileOwner">
                    <button mat-flat-button color="primary"
                        style="margin-inline:5%; margin-bottom: 10%; margin-top: 5%; padding-inline: 10%;">Connect
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Remove Connection</span>
                        </button>
                        <button mat-menu-item>
                            <span>Block</span>
                        </button>
                    </mat-menu>
                </div>
                <div style="float: right; width: 350px;"  *ngIf="isProfileOwner">
                    <button mat-button [matMenuTriggerFor]="privacy">
                        Private
                    </button>
                    <mat-menu #privacy="matMenu">
                        <button mat-menu-item>
                            <span>Set Public</span>
                        </button>
                    </mat-menu>
                    <button mat-stroked-button color="primary"
                        style="margin-inline:5%; margin-bottom: 10%; margin-top: 5%; padding-inline: 10%;">Add Profile Section
                    </button>
                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">About</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary" style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 30px; ">edit</mat-icon>
            </button>
        </div>
        <p style=" margin: 1%;font-weight: 300;">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
            facilis est et expedita distinctio.
        </p>
    </div>

    <br>
    <div class="profiles-container flex-container" style=" width:100%; padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Activity</h2>
        <div style="width:70%" >
            <button mat-stroked-button color="primary"
                style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">Show All Posts
            </button>
        </div>

        <hr color="#c5c5c5" size="1" class="line">
        <div class="feed-input-container">
            <div class="picture-name">
                <p class="profile-pic">
                    <img src="../../../assets/images/profile-picture.png" class="profile-picture" />
                </p>
                <p class="name-surname">John Doe</p>
            </div> <br> <br>
            <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aspernatur vel est fugiat
                laboriosam odio voluptatibus iusto maiores tempore, nulla aperiam?
                Culpa, nam doloribus est ex sint non fugiat labore. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. </p> <br>
            <p class="post-info likes">13 likes</p>
            <p class="post-info comment">2 comments</p>
        </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Experience</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary" style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; ">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;">

            <hr color="#c5c5c5" size="1" class="line">
            <h3 style="margin: 0%; margin-inline: 1%;  font-size: 18px; font-weight: 400;">Razvijač prednjeg dela</h3>
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Levi9, Serbia<span
                    style="margin-inline: 1%;"> &#183;</span> <span style=" font-weight: 300;">Full-time</span></p>
            <p style="font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">2018 - present</p>

            <hr color="#c5c5c5" size="1" class="line">
            <h3 style="margin: 0%; margin-inline: 1%;  font-size: 18px; font-weight: 400;">Java Developer </h3>
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Levi9, Serbia<span
                    style="margin-inline: 1%;"> &#183;</span> <span style=" font-weight: 300;">Full-time</span></p>
            <p style="font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">2015 - 2018</p>
        </div>
    </div>


    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Education</h2>
        <div style="width:70%"  *ngIf="isProfileOwner">
            <button mat-icon-button color="primary" style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; ">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;">

            <hr color="#c5c5c5" size="1" class="line">
            <h3 style="margin: 0%; margin-inline: 1%;  font-size: 18px; font-weight: 400;">Fakultet tehnickih nauka,
                Univesity of Novi Sad</h3>
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Software Engineering,
                Bachelor's degree</p>
            <p style="font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">2010 - 2015</p>
        </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Skills</h2>
        <div style="width:70%" *ngIf="isProfileOwner">
            <button mat-icon-button color="primary" style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; ">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;">

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Java</p>

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">C#</p>

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Angular</p>

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Object Oriented
                Programming</p>

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Golang</p>
        </div>
    </div>

    <br>
    <div class="profiles-container flex-container" style="padding: 2%; padding-inline: 3%;">
        <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:28%;">Interests</h2>
        <div style="width:70%"  *ngIf="isProfileOwner">
            <button mat-icon-button color="primary" style="float: right; margin-inline:5%;padding-inline: 5%; margin-top:1%">
                <mat-icon style="font-size: 34px; ">add</mat-icon>
            </button>
        </div>
        <div style="width: 100%;">

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Artificial intelligence
            </p>

            <hr color="#c5c5c5" size="1" class="line">
            <p style="font-size:16px ;font-weight: 300; margin-block: 0.5%; margin-inline: 1%;">Web Programming</p>
        </div>
    </div>

    <br><br><br>
</div>