<div style="margin-inline: 20%; margin-top: 2%;">
    <div class="profiles-container">
        <div class="parent">
            <img class="image1" src="../../../assets/images/profile-background2.jpg" />

            <img class="image2" src="../../../assets/images/aleksandar.jpg" />
            <!-- <img class="image2" src="../../../assets/images/profile.jpg"/> -->
        </div>
        <div class="flex-container">
            <div class="flex-item-left">
                <h1 style="margin-top: 5%; font-size: 30px; font-weight: 400;">
                    Name Surname
                </h1>
                <p style="font-weight: 300;">
                    Java Developer at SomeCompany, Belgrade
                </p>
                <p style="font-weight: 300;">
                    Novi Sad
                </p>
                <p style="font-weight: 300;">
                    216 Connections
                </p>

            </div>
            <div class="flex-item-right">
                <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon"
                    style="float: right; padding-right: 90px;">
                    <mat-icon style="font-size: 34px; ">notifications</mat-icon>
                </button>
                <h3 style="margin-top: 20%; font-size: 18px; font-weight: 400;">Contact Info</h3>
                <p>E-mail: <span style="font-weight: 300; margin-left: 5%;">someuser@gmail.com</span></p>
                <p>Phone number:<span style="font-weight: 300; margin-left: 5%;">+381625563743</span></p>
            </div>
            <div style="width: 100%;">
                <div style="float: right; width: 250px;">
                <button mat-flat-button color="primary" style="margin-inline:5%; margin-bottom: 10%; margin-top: 5%; padding-inline: 10%;">Connect
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span>Remove Connection</span>
                    </button>
                    <button mat-menu-item>
                        <span>Block</span>
                    </button>
                </mat-menu>
            </div>
            </div>
        </div>

    </div>

    <br>
    <div class="profiles-container">
        <br> <br><br> <br><br> <br><br> <br>hj
    </div>
    <br><br>
</div>