<div style="margin-inline: 15%; margin-top: 3%;">
    <div style="margin-inline: 3%;">

        <h1 style="font-size:40px; font-weight: 200; margin-top: 5%; margin-bottom: 1.5%;">Job offers</h1>
        <h2 style="font-size:30px; font-weight: 200;">Explore opportunities.</h2>
        <div class=" d-flex flex-row" style="margin-bottom: 2%;">
        
            <mat-form-field class="example-form-field"
                style="width: 40%; margin-right: 5%; margin-top: 2%; margin-bottom: 1%;">
                <mat-label>Search</mat-label>
                <input matInput type="text" (keyup)="search()" [(ngModel)]="searchText">
                <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchText=''; search()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-button color="primary" style="margin-left: 35%;" (click)="openNewJobDialog()">New Job
                Offer</button>
        </div>
    </div>
    
    <div class="flex-container">

        <div class="flex-item" *ngFor="let job of jobs">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p
                        style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        {{job.position}} <span style="padding-inline: 10px">&#183;</span> Senior
                    </p>
                    <p
                        style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        {{job.companyName}}
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        {{job.location}}
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div>
                        <p> {{job.description}}</p>
                    </div>
                    <!-- <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.07.2022.</span></i>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
</div>